.ComponentPortfolioSlaider{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 450px;
	width: 100%;	
}

.ControlLeft {
	display: block;
	height: 50px;
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./imeges/back.png); 
}

.ControlLeft:hover {
	background-image: url(./imeges/backHover.png); 
}

.FotoSlider {
	display: block;
	background-color: #B442BB;
	height: 450px;
	width: 450px;
}

.ControlRight{
	display: block;
	height: 50px;
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(./imeges/next.png); 
}

.ControlRight:hover {
	background-image: url(./imeges/nextHover.png); 
}